* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.side-navbar {
    height: 100vh;
    background-color: #091227;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.logo {
    margin: 32px 0;
    border-bottom: solid 1px #FF6584;
}

.logo img {
    padding-bottom: 8px;
}

.hello {
    margin-bottom: 30px;
}

.hello h3 {
    color: white;
    font-family: 'Jura';
}

span#username_usuario {
    color: #FF6584;
}

.side-navbar .navbar ul {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
    align-items: center;
}

.side-navbar .navbar ul li {
    list-style: none;
    padding: 8px;
    border: solid 1px white;
    border-radius: 12px;
}

.side-navbar .navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.side-navbar .bottom-side {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: end;
    height: 50%;
}

.side-navbar .bottom-side .div-btn {
    margin-bottom: 48px;
}

.side-navbar .bottom-side .div-btn .btn-logoff {
    padding: 8px;
    border-radius: 12px;
    background-color: transparent;
    color: white;
    font-family: 'Poppins';
    cursor: pointer;
    border: none;
}

.right-content-comunidade {
    width: 80%;
}

.container-right-content {
    margin: 0 2%;
    height: 1000px;
}

.header-comunidade {
    height: 150px;
    position: relative;
    background: black;
    width: 100%;
    margin-left: 20%;
    border-left: solid 1px white;
}

.header-comunidade .title-comunidade {
    text-align: center;
    padding-top: 50px;
    font-family: 'Jura', sans-serif;
    letter-spacing: 1px;
    font-size: 32px;
    color: white;
}


.header-comunidade .div-btn-details {
    height: 24px;
}

.btn-details {
    position: absolute;
    right: 89px;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    background-color: #091227;
    color: white;
    cursor: pointer;
    bottom: 2px;
    border-radius: 8px;
    border: none;
}

.container-right-content .container-cards {
    width: 100%;
    display: flex;
    height: 200px;
    padding-top: 20px;
    justify-content: space-around;
    
}

.cards {
    width: 48%;
    height: 100%;
    background: linear-gradient(45deg, black, #091227);
    border-radius: 12px;
}

.label-captura {
    display: flex;
    justify-content: center;
  }
  
  .dash-right .avisos {
    width: 100%;
    /* border: 3px solid pink; */
    color: rgb(216, 216, 216);
    font-family: "Exo 2", sans-serif;
  }
  
  .dash-right .avisos .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dash-right .avisos .container .div-form {
    width: 100%;
  }
  
  .dash-right .avisos .container .div-form #form_postagem {
    width: 100%;
  }
  
  .dash-right .avisos .div-form label {
    width: 100%;
  }
  
  .dash-right .avisos .div-form input {
    width: 100%;
    border-radius: 5px;
  }
  
  .dash-right .avisos .div-form textarea {
    width: 100%;
    /* color: #E6005A; */
    border: 3px solid #e6005a;
    background-color: white;
    border-radius: 5px;
  }
  
  .dash-right .avisos .div-form button {
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #e6005a;
    width: 120px;
  }
  
  .publicacao-btn-editar {
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 8px;
    color: white;
    background-color: #e6005a;
    width: 80px;
  }
  
  .publicacao {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-bottom: 3px solid #e6005a;
    padding: 20px;
  }
  
  .publicacao > *:not(:last-child) {
    padding: 0 0 10px 0;
  }
  
  .div-results {
    width: 100%;
  }
  
  .div-results .feed-container {
    background: linear-gradient(45deg, black, #091227);
    border-radius: 5px;
    margin-bottom: 80px;
    color: white;
  }
  
  .div-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .div-buttons > * {
    margin-left: 30px;
  }