* {
  margin: 0;
  padding: 0;
}

.right-content-comunidade {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    width: 100%

}

.container-right-content {
    margin: 0 2%;
    height: 1000px;
}

.header-comunidade {
    height: 150px;
    position: relative;
    background: white;
    border-left: solid 1px white;
}

.header-comunidade .title-comunidade {
    text-align: center;
    padding-top: 40px;
    font-family: 'Jura', sans-serif;
    letter-spacing: 1px;
    font-size: 32px;
    color: #091227;
}


.header-comunidade .div-btn-details {
    height: 24px;
}

.btn-details {
    position: absolute;
    right: 89px;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    background-color: #091227;
    color: white;
    cursor: pointer;
    bottom: 2px;
    border-radius: 8px;
    border: none;
}

  .div-results {
    width: 100%;
  }
  
  .div-results .feed-container {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 80px;
    color: white;
  }
  
  .publicacao {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid #e6005a;
    padding: 20px;
    background-color: #091227;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .publicacao-pdf {
    width: 65%;
    border-left: solid 1px white;
    padding-left: 20px
}

  .publicacao .publicacao-textos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
    width: 35%
}

  .div-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .div-buttons > * {
    margin-left: 30px;
  }