* {
    margin: 0;
    padding: 0;
}

.side-navbar {
    position: relative;
}
.content-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    justify-content: center;
    width: 100%;
}

.graph-title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
}

/* canvas#myChartCanvas {
    margin-bottom: 40px;
} */