* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.side-navbar {
    height: 100vh;
    background-color: #fff;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.logo {
    margin: 32px 0;
    border-bottom: solid 1px #FF6584;
}

.logo img {
    padding-bottom: 8px;
}

.hello {
    margin-bottom: 30px;
}

.hello h3 {
    color: white;
    font-family: 'Jura';
}

span#username_usuario {
    color: #FF6584;
}

.side-navbar .navbar ul {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    height: 200px
}

.side-navbar .navbar ul li {
    list-style: none;
    padding: 8px;
    border-radius: 12px;
}

.side-navbar .navbar ul li a {
    text-decoration: none;
    color: #091227;
    font-family: 'Poppins', sans-serif;
}

.side-navbar .bottom-side {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: end;
    height: 50%;
}

.side-navbar .bottom-side .div-btn {
    margin-bottom: 48px;
}

.side-navbar .bottom-side .div-btn .btn-logoff {
    padding: 8px;
    border-radius: 12px;
    background-color: transparent;
    color: #091227;
    font-family: 'Poppins';
    cursor: pointer;
    border: none;
}

.side-navbar .bottom-side .div-btn .btn-logoff:hover {
    background: black;
}

/* .side-navbar {
    position: relative;
    border-right: solid 1px white;
} */
.content-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    justify-content: center;
    width: 100%;
    background-color: #091227;
}

.graph-title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    color: #FF6584;
}

