* {
    margin: 0;
    padding: 0;
}

.container-publique {
    display: flex;
}

.side-navbar {
    position: relative;
}



.url-icon {
    display: flex;
}
.info-icon {
    height: 15px;
    margin-left: 10px;
    padding-top: 5px;
}

.container-publique .right-content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#091227, black);
}

.container-publique .right-content .box-sheet-register {
    padding: 32px;
    border-radius: 12px;
    background-color: #091227;
    border: solid 1px white;
}

.container-publique .right-content .box-sheet-register h1 {
   color: white;
   font-family: 'Jura', sans-serif;
   padding-bottom: 48px;
}

.container-publique .right-content .box-sheet-register h3 {
    color: white;
    font-family: 'Jura', sans-serif;
    padding-bottom: 32px;
 }

 .container-publique .right-content .box-sheet-register .username-view {
   text-align: center;
 }

 .select-instruments {
    padding: 8px;
    border-color: white;
    background-color: #091227;
    color: white;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
}

.container-publique .right-content .box-sheet-register p {
    color: white;
    font-family: 'Poppins', sans-serif;
 }

 .inputs {
    height: 16px;
    border-radius: 12px;
    padding: 8px 0px 8px 8px;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 16px;
}

.name-inputs {
    margin-top: 12px;
}

.div-btn-post {
    text-align: center;
    margin-top: 24px;
}

.div-btn-post .btn-post {
    padding: 8px;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    font-family: 'Poppins';
    background-color: #FF6584;
    border: none;
    cursor: pointer;
}

.success {
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 12px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #091227;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -130px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: 'Poppins', sans-serif;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    
}

