* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 100px;
    background-color: #091227;
    /* position: fixed; */
    width: 100%;
    z-index: 9999;

}

.header .container {
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .logo {
    display: flex;
    justify-content: space-evenly;
}

.header .title {
    color: white;
    padding-left: 28px;
    font-size: 14px
}

.header .container li {
    display: inline;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 200;
}

.header .container .navbar li {
    padding: 0 40px;
}

.btn-login {
    background-color: #FF6584;
    padding: 12px 52px;
    border-radius: 16px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    border: none;
    letter-spacing: 1px;
}

.page {
    height: 100vh;
}

.content {
    display: flex;
    margin: 0 10%;
    height: 650px;
}

.about-text {
    width: 50%;
    text-align: justify;
}

.about-text h1 {
    margin: 44px 0;
    font-family: 'JURA', sans-serif;
}

.about-text p {
    font-family: 'Poppins', sans-serif;
}

#second-p {
    margin-top: 10px;
}


.container-mvv {
    height: 200px;
    background-color: white;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    border-top: solid 1px;
    padding-top: 32px;
    margin-bottom: 100px;

}

.cards {
    width: 31%;
    background-color: #091227;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    padding: 12px;
    text-align: center;
}

.cards  img {
    padding-top: 12px;
}

.cards .vision-img{
   width: 70px; 
}

.cards h1 {
    color: #FFF;
    font-family: 'Jura', sans-serif;
    padding-bottom: 12px
}

.cards p {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.footer {
    background-color: #091227;
    height: 274px;
    width: 100%;
    margin-top: 0;
}

.footer .container-footer {
    margin: 0 0 0 10%;
    display: flex;
    padding-top: 52px;
    
}

.footer .container-footer .left-content-footer {
    
    width: 35%;
}

.footer .container-footer .left-content-footer p {
    color: white;
    font-size: 18px;
    margin-top: 12px
}

.footer .container-footer .right-content-footer {
    width: 65%;
    display: flex;
    justify-content: space-around;
}

.footer .container-footer .right-content-footer .btns-footer p{
    color: white;
}

.footer .container-footer .right-content-footer .btns-footer .title-footer {
    margin-bottom: 40px;
}

.social-media {
    margin-top: 16px;
}

