* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.main-page {
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.header {
    height: 100px;
    background-color: #091227;
    position: fixed;
    width: 100%;
    z-index: 9999;

}

.header .container {
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .logo {
    display: flex;
    justify-content: space-evenly;
}

.header .title {
    color: white;
    padding-left: 28px;
    font-size: 14px
}

.header .container li {
    display: inline;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 200;
}

.header .container .navbar li {
    padding: 0 40px;
}

.btn-login {
    background-color: #FF6584;
    padding: 12px 52px;
    border-radius: 16px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    border: none;
    letter-spacing: 1px;
}

.home {
    display: flex;
    padding-top: 142px;

}

.home .text-content {
    width: 50%;
    margin-left: 10%;
    padding-top: 80px;

}

.home .text-content h2 {
    color: white;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 8px;
}

.home .text-content h2 span {
    text-decoration: underline 1px #FF6584;
    text-underline-position: from-font;
}

.home .text-content p {
    color: white;
    font-weight: lighter;
    margin-top: 8px;
}

.btn-acesse {
    background-color: #FF6584;
    width: 121px;
    height: 48px;
    color: white;
    font-size: 16px;
    margin-top: 32px;
    cursor: pointer;
    border-radius: 16px;
    border: none;
}

.home .img-content {
    width: 50%;
    margin: auto;
}

.home .img-content .img-pianist {
    padding-right: 110px;
}

.feedback .title {
    text-align: center;
    margin-top: 24px;
}

.feedback .title h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 80px;
    padding-top: 32px;

}

.feedback .container-cards {
    display: flex;
    margin: 0 10%;
    height: 520px;
    justify-content: space-between;

}

.feedback .container-cards .cards {
    height: 345px;
    width: 370px;
    border-radius: 16px;
    box-shadow: 10px 24px 54px 0px rgba(0, 0, 0, 0.06);
    padding: 32px 20px 20px 20px;
    text-align: justify;
    margin: 0 12px;
    position: relative;
}

.feedback .container-cards .side-card {
    margin-top: 50px;
    border: solid 0.5px #AAAAAA;
}

.feedback .container-cards .cards .profile {
    display: flex;
}

.feedback .container-cards .cards .profile .img-profile {
    margin-right: 12px;
    margin-bottom: 20px;
}

.feedback .container-cards .cards .profile .username {
    font-weight: bold;
    font-size: 14px;
}

.feedback .container-cards .cards .profile .user-place {
    letter-spacing: 0.5px;
    color: #AAAAAA;
}

.feedback .container-cards .cards .img-stars {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.singer-page {
    height: fit-content;
    background-color: #091227;
    margin-bottom: 0;
}

.singer-page .container-singer {
    display: flex;
    padding-top: 52px;
    margin: 0 10%;
}

.singer-page .container-singer .text-singer {
    width: 100%;
    padding-left: 65px;
}

.singer-page .container-singer .text-singer h1 {
    color: white;
    font-size: 48px;
}

.singer-page .container-singer .text-singer .list-items {
    padding-top: 44px;
}

.singer-page .container-singer .text-singer .list-items .img-verify {
    height: 14px;
    width: 20px;
    padding-right: 20px;
}

.singer-page .container-singer .text-singer .list-items .top-items {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;

}

.singer-page .container-singer .text-singer .list-items .top-items .top-items-1 {
    display: flex;
}

.singer-page .container-singer .text-singer .list-items .top-items .top-items-2 {
    display: flex;
    padding-left: 90px;

}

.singer-page .container-singer .text-singer .list-items .bottom-items {
    width: 100%;
    display: flex;
    margin-top: 12px 0;
    flex-direction: row;
}

.singer-page .container-singer .text-singer .list-items .bottom-items .bottom-items-1 {
    display: flex;
}

.singer-page .container-singer .text-singer .list-items .bottom-items .bottom-items-2 {
    display: flex;
    padding-left: 52px;
}

.singer-page .container-singer .text-singer .list-items p {
    color: white;
    font-size: 16px;
}

.footer {
    background-color: #091227;
    height: 274px;
    width: 100%;
    margin-top: 0;
}

.footer .container-footer {
    margin: 0 0 0 10%;
    display: flex;
    padding-top: 52px;
    
}

.footer .container-footer .left-content-footer {
    
    width: 35%;
}

.footer .container-footer .left-content-footer p {
    color: white;
    font-size: 18px;
    margin-top: 12px
}

.footer .container-footer .right-content-footer {
    width: 65%;
    display: flex;
    justify-content: space-around;
}

.footer .container-footer .right-content-footer .btns-footer p{
    color: white;
}

.footer .container-footer .right-content-footer .btns-footer .title-footer {
    margin-bottom: 40px;
}

.social-media {
    margin-top: 16px;
}


